---
import siteConfig from '../../site.config.mjs';
const owner = siteConfig.owner;
---

<h1>Impressum</h1>

<p><strong>Angaben gemäß § 5 TMG</strong></p>
<p>
	{owner}<br />
	Musterstraße 1<br />
	12345 Musterstadt<br />
</p>

<p><strong>Kontakt</strong></p>
<p>
	Telefon: 01234 567890<br />
	E-Mail: kontakt@example.com
</p>

<p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong></p>
<p>
	{owner}<br />
	Musterstraße 1<br />
	12345 Musterstadt<br />
</p>

<p><strong>Haftungsausschluss</strong></p>
<p>
	Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer
	Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</p>
